html {
    background-color:white;
}


h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: violet; 
}

h2 {
     text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: violet; 
}

#motto-header {
    text-align: center;
    font-style: italic;
    font-size: large;
    color: violet
}


.nav-bar {
    text-align: center;
}

body {
    color: violet;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav-bar li {
    display: inline-flex;
    text-align: center;
    font-size: 22 px;
}

.nav-bar a {
    color: white;
    letter-spacing: 0.5px;
}
.nav-bar a:hover {
    color: violet;
    letter-spacing: 0.8px;
}

a.nav-link {

    text-decoration: none;
}


#submit-search-button {
    background-color: violet;
    border: 4px solid violet;
    color: whitesmoke;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#input-search-form {
    background-color: whitesmoke;
    border-radius: 10%;
    border: 4px solid violet;
    width: 200px;
    height: 20px;
    text-align: left;
}



.button-edit-alt {
    border: 2px solid black;
    background-color: violet;
    color: white;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: inline-flex;
}

.button-delete-alt {
    border: 2px solid black;
    background-color: whitesmoke;
    color: violet;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


#submit-contact-button {
    text-align: center;
    background-color: #222;
    color: violet;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#restart-contact-button {
    border: 2px solid black;
    background-color: whitesmoke;
    color: violet;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#discard-changes-button {
    border: 2px solid black;
    background-color: whitesmoke;
    color: violet;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



th {
    text-align: center;
    letter-spacing: 0.5px;
}

td {
    
    color: black;
    background-color: whitesmoke;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 2;
}

.search-bar {
    color: violet;
    text-align: center;
}

.section-line {
    color:violet;
    outline-style: solid;
}

#submit-new-contact-button{
        background-color: violet;
        border: 4px solid violet;
        color: whitesmoke;
        text-align: center;
        font-weight: bold;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        display: on;
    }

#submit-edit-contact-button{
        background-color: violet;
        border: 4px solid violet;
        color: whitesmoke;
        text-align: center;
        font-weight: bold;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        display: on;
    }

.main-table {
    display: on;
    text-align: justify;
    padding-left: 200 px;
    letter-spacing: 1px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

 
}




#button-edit-alt-form {
    border: 2px solid black;
    background-color: whitesmoke;
    color: violet;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: off;

}

.input-entry-alt {
    display: on;
}


.display-contact {
    color:black;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: off;
}

#display-first-name{
    display:off;
}

#display-last-name {
    display: off;
}

#display-phone-number {
    display: off;
}

#display-address {
    display: off;
}

.add-contact {
    display: inline-block;
}

.edit-contact {
    display: none;

}