h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: violet; 
}

h2 {
     text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: violet; 
}

#motto-header {
    text-align: center;
    font-style: italic;
    font-size: large;
    color: violet
}


.nav-bar {
    text-align: center;
}

body {
    color: violet;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav-bar li {
    display: inline-flex;
    text-align: center;
    font-size: 22 px;
}

.nav-bar a {
    color: white;
    letter-spacing: 0.5px;
}
.nav-bar a:hover {
    color: violet;
    letter-spacing: 0.8px;
}

a.nav-link {

    text-decoration: none;
}


#submit-search-button {
    background-color: violet;
    border: 4px solid violet;
    color: whitesmoke;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#input-search-form {
    background-color: whitesmoke;
    border-radius: 10%;
    border: 4px solid violet;
    width: 200px;
    height: 20px;
    text-align: left;
}

table {
    position: absolute;
    padding-top: 22px;
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 2;
}


.th-col-title {
    text-align: center;
    border: 2px solid black;
    color: black;
    background-color: violet;
}

.td-entry {
    border-bottom: 2px solid black;
    color: violet;
    background-color: black;
}

#button-edit {
    border: 2px solid black;
    background-color: violet;
    color: white;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#button-delete {
    border: 2px solid black;
    background-color: whitesmoke;
    color: violet;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#button-add-contact {
    text-align: center;
    background-color: #4a37f5;
    color: whitesmoke;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
    background-color:black;
}

/** edit.html **/

#main-contact {
    color: violet;
    text-align: center;
  
}

#button-save {
    border: 4px solid violet;
    background-color: violet;
    color: white;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.input-edit-form {
    background-color: whitesmoke;
    border-radius: 10%;
    border: 4px solid violet;
    width: 200px;
    height: 20px;
    text-align: left;
}

#button-discard {
    border: 2px solid whitesmoke;
    background-color: whitesmoke;
    color: violet;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/** addcontact.html **/

#button-add-contact {
    border: 4px solid #4a37f5;
    text-align: center;
    background-color: #4a37f5;
    color: whitesmoke;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/** profile.html **/
#button-edit-profile {
    border: 4px solid violet;
    background-color: violet;
    color: white;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


#contact-profile {
    color: violet;
    text-align: center;
  
}

.span-log-profile {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white; 
}

#span-label-profile {
    text-align: center;
    font-size: 18px;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    color: violet; 
   }


.input-add-form {
    color: whitesmoke;
}


/** alt.html **/

#button-edit-alt {
    border: 2px solid black;
    background-color: violet;
    color: white;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: none;
}

#button-delete-alt {
    border: 2px solid black;
    background-color: whitesmoke;
    color: violet;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: none;

}

#button-add-contact-alt {
    text-align: center;
    background-color: #555;
    color: violet;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.td-entry-alt {
    border-bottom: 2px solid black;
    color: violet;
    background-color: black;
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 2;
}