* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
    background-color: hsla(200, 70%, 20%, 0.7);
}

body {
    color: #9FD9D7;
}

h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #9FD9D7; 
}

h2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #9FD9D7;
    margin-top: 10px;
}

label {
    color: #9FD9D7;
    font-weight:500;
}

#motto-header {
    text-align: center;
    font-style: italic;
    font-size: large;
    color: yellow;
}

.search-bar {
    text-align: center;
    width: 350px;
    margin: 0 auto;
    
}

#search-label {
    color: #9FD9D7;
    font-weight:500;
    margin-bottom: 10 px;
}

#input-search-form {
    background-color: whitesmoke;
    border-radius: 10%;
    border: 4px solid #9FD9D7;
    padding: 15px;
    width: 200px;
    height: 30px;
    text-align: left;
}

.section-line {
    color: hsla(100,80%,80%, 0.1);
    outline-style: solid;
}

#submit-contact-button{
        border: 2px solid yellow;
        background-color: #9FD9D7;
        color: black;
        width: 200px;
        height: auto;
        text-align: center;
        font-weight: bold;
        font-size: 16px;
        display: on;
        margin-top: 10px;
        padding: 10px;
    }

#restart-contact-button {
        border: 2px solid #9FD9D7;
        background-color: whitesmoke;
        width: 144px;
        height: auto;
        color: #000;
        font-size: 16px;
        font-weight: bold;
        margin-top: 10px;
        padding: 9px;
    }


.add-contact {
    display: flex;
    flex-direction:row;
    width: 350px;
    margin: 0 auto;
}

.input-entry {
    width: 350px;
    padding: 5px 0px 5px 5px;
    margin: 20 px;
}


.main-table {
    display: inline-flexbox;
    letter-spacing: 1px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 10px 2px 2px 0px;
    
}

th {
    text-align: center;
    line-height: 2;
    font-family: 'Montserrat', sans serif;
    font-weight: 800;
    letter-spacing: 0.5px;
    padding: 10px;
}

td {    
    color: #111;
    background-color: hsla(333, 6%, 65%, 0.884);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: larger;
}


.button-edit-alt {
    border: 2px solid yellow;
    background-color: #9FD9D7;
    color: black;
    height: 100px;
    font-weight: bold;
    display: inline;
    padding: 10px;
}

#save-button {
    border: 2px solid #9FD9D7;
    background-color: yellow;
    color: black;
    height: 100px;
    font-weight: bold;
    display: inline;
}

.button-delete-alt {
    border: 2px solid #9FD9D7;
    background-color: whitesmoke;
    color: #222;
    height: 100px;
    font-weight: bold;
    padding: 5px;
}

.editing-mode {
    border: 2px solid #9FD9D7;
    background-color: whitesmoke;
    color: #222;
    height: 100px;
    font-weight: bold;
}

#edit-entry {
   display: none;
}

.td-entry {
    padding: 10px;
}